<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tyut.selaba2.management.mapper.SpaceUsageRecordMapper">

    <resultMap id="recordMap" type="SpaceUsageRecord">
        <id     property="recordId"     column="record_id" />
        <result property="guestId"      column="guest_id" />
        <result property="recordTime"   column="record_time" />
        <result property="peopleNum"    column="people_number" />
        <result property="startTime"    column="appointment_start_time" />
        <result property="endTime"      column="appointment_end_time" />
    </resultMap>

    <!-- 检索所有的历史预约记录 -->
    <select id="selectAllRecord" resultMap="recordMap" >
        select * from space_usage
    </select>

    <!-- 根据条件检索预约记录 -->
    <select id="selectRecordByCondition" resultMap="recordMap" parameterType="SpaceUsageRecord">
        select * from space_usage
        where
        <if test="recordId != null and recordId != 0">record_id = #{recordId} and </if>
        <if test="guestId != null and guestId != 0"> guest_id = #{guestId} and </if>
        <if test="peopleNum != null and peopleNum != 0">people_number = #{peopleNum} and </if>
        <if test="startTime != null">appointment_start_time <![CDATA[ <= ]]> #{startTime} and </if>
        <if test="endTime != null">appointment_end_time <![CDATA[ >= ]]> #{endTime} and </if>
        1
    </select>

    <!-- 插入预约记录 -->
    <insert id="insertRecord" parameterType="SpaceUsageRecord">
        insert into space_usage (
        guest_id,
        <if test="peopleNum != null and peopleNum != 0">people_number,</if>
        appointment_start_time,
        appointment_end_time
        )
        VALUE(
        #{guestId},
        <if test="peopleNum != null and peopleNum != 0">#{peopleNum},</if>
        #{startTime},
        #{endTime}
        )
    </insert>

    <!-- 修改预约记录 强烈不建议使用这个 -->
    <update id="updateRecord" parameterType="SpaceUsageRecord">
        update space_usage
        <set>
            <if test="peopleNum != null and peopleNum != 0">people_number = #{peopleNum},</if>
            appointment_start_time = #{startTime},
            appointment_end_time = #{endTime}
        </set>
        where guest_id = #{guestId}
    </update>

    <!-- 删除预约记录 强烈不建议使用 -->
    <delete id="deleteRecord" parameterType="java.lang.Long">
        delete from space_usage
        where record_id = #{recordId}
    </delete>
</mapper>